body {
  font-family: Sans-serif;
  background: linear-gradient(to right, #000000 50%, #f0f0f0 50%);
}

html {
  font-family: Sans-serif;
  background: linear-gradient(to right, #000000 50%, #f0f0f0 50%);
}

button {
  margin: auto;
  border: 0;
  border-radius: 0px;
  background: #000000;
  text-align: left;
  height:120px;
  width:340px;
  color: #fff;
  padding: 29px 54px;
  font-size: 38px;
}

button:hover {
  background: #ffffff;
  color: #000000;
}

header{
  margin: 20px;
}

.left-content{
  width: 50%;
  float: left;
}

.right-content{
  width: 50%;
  float: right;
}

.right{
  float: right;
}

.left{
  float: left;
}

.img{
  text-align: center; 
  font-size: 22px; 
}
