body {
  font-family: Sans-serif;
  background: linear-gradient(to right, #000000 50%, #f0f0f0 50%);

  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none; 
  
}

html {
  font-family: Sans-serif;
  background: linear-gradient(to right, #000000 50%, #f0f0f0 50%);
}

button {
  margin: auto;
  border: 0;
  border-radius: 0px;
  background: #000000;
  text-align: left;
  height:120px;
  width:550px;
  color: #fff;
  padding: 29px 54px;
  font-size: 44px;
}

button:hover {
  background: #ffffff;
  color: #000000;
}

header{
  margin: 20px;
}

.left-content{
  width: 50%;
  float: left;
}

.right-content{
  width: 50%;
  float: right;
}

.right{
  float: right;
}

.left{
  float: left;
}

.img{
  text-align: center; 
  font-size: 22px;
}

}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: purple;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
